:root {
    --primary-color: #FFF;
    --secondary-color: #000;
}
.--d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav-menu li:not(:last-child) {
    margin-right: 20px;
}
.site-header,
nav#site-navigation {
    background-color: var(--secondary-color);
}
nav#site-navigation {
    -webkit-box-shadow: 
     inset 0 1px 0 hsla(0,0%,100%,.4),
     inset 0 4px 0 #000,
     inset 0 5px 0 hsla(0,0%,100%,.4);
    box-shadow: 
     inset 0 1px 0 hsla(0,0%,100%,.4),
     inset 0 4px 0 #000,
     inset 0 5px 0 hsla(0,0%,100%,.4);
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 0;
}
.navbar-default {
    border-color: var(--secondary-color)!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
#primary-menu li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    background-image: linear-gradient(
    to right,
    #2c38bf,
    #8627a3 50%,
    #FFF 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
#primary-menu li a:before {
  content: '';
  background-image: linear-gradient(
    to right,
    #2c38bf,
    #8627a3
  );
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
#primary-menu li a:hover {
 background-position: 0;
}
#primary-menu li a:hover::before {
  width:100%;
}
/* FOOTER STYLES */
#colophon {
    padding: 40px 0;
    background-color: var(--secondary-color);
    color: #FFF;
}
/* RESPONSIVE */
@media all and (min-width:768px) {
    #colophon {
        padding: 60px 0;
    }
}