:root {
  --main-head-color: #1b1b1b;
  --main-head-color-hover: #00427e;
  --main-head-bg: #fff;
  --main-head-submenu-bg: #ececec;
}  
/* Header */
  .site-header {
    position: relative;
    z-index: 9999;
  }
  .header-content {
	float: left;
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
  }
 
  #site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 35px 0 auto;
    background-color: var(--main-head-bg);
    border: unset;
  }
  #d-collapse-menu {
    padding: 0;
  }
  #primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #primary-menu > li:not(:first-child){
    margin-left: 31px;
  }
  #primary-menu .menu-item a {
    color:  var(--main-head-color);
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0;
  }
  #primary-menu li.menu-item-has-children a {
    margin-right: 18px;
  }
  #primary-menu li.menu-item-has-children a {
    position: relative;
  }
  #primary-menu .menu-item-has-children > a:before {
     content: "\203A";
    position: absolute;
    right: -20px;
    top: 11.5px;
    font-size: 24px;
    transform: rotateZ(90deg);
  }
  #primary-menu .menu-item a:hover {
    color: var(--main-head-color-hover);
  }
  #primary-menu li.menu-item-has-children:hover > .sub-menu  {
    visibility: visible;
    opacity: 1;
  }  
  .menu-item-has-children .sub-menu {
    position: absolute;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: var(--main-head-submenu-bg);
    border: #ececec solid 1px;
    -webkit-box-shadow: 8px 12px 43px #00000016;
            box-shadow: 8px 12px 43px #00000016;
    list-style: unset;
    padding: 20px 0;
    z-index: 999;
  }
  #primary-menu .menu-item-has-children .sub-menu a {
    display: block;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  #primary-menu .menu-item-has-children .sub-menu li:last-of-type a {
    margin-bottom: 0;
  }
 
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    #primary-menu .menu-item a {
      font-size: 14px;
    }
    .site-branding img {
      max-width: 180px;
    }
    #site-navigation {
      margin-right: 17px;
    }
    #primary-menu > li:not(:first-child) {
      margin-left: 20px;
    }
    }  
   
	@media screen and (min-width: 992px) {
		.menu-item-has-children .sub-menu .sub-menu {
			top: 50px;
			left: 90%;
		}
	} 
  @media screen and (max-width: 992px) {
    .site-header {
      position: relative;
      -webkit-box-shadow: 8px 12px 21px 0px rgba(0, 1, 1, 0.08);
              box-shadow: 8px 12px 21px 0px rgba(0, 1, 1, 0.08); 
    }
    .site-header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 56.77px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#fff));
      background-image: -o-linear-gradient(#ebebeb, #fff);
      background-image: linear-gradient(#ebebeb, #fff);
    }
    .header-content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      position: relative;
    }
    .site-branding {
      z-index: 2;
    }
    .site-branding img {
      max-width: 155px;
    }
    .navbar-header {
      position: absolute;
      top: 17.5px;
      right: -11px;
    }
    #site-navigation .navbar-header button {
      background-color: unset;
      border: unset;
      border-radius: unset;
      margin: 0;
    }
    #site-navigation .navbar-header button:hover, #site-navigation .navbar-header button:focus, #site-navigation .navbar-header button:active {
      background-color: unset;
    }
    .navbar-header button .icon-bar{
      background-color: #215a8c!important;/* i kno...*/
      width: 39px;
      border-radius: unset;
    }
    .navbar-header button .icon-bar:not(:first-child) {
      margin-top: 8px;
    }
    .navbar-toggle {
      display: block;
    }
    #d-collapse-menu {
      width: 100%;
    }
    .d-navigation .collapse {
      display: none!important;
    }
    .d-navigation .collapse.in {
      display: block!important;
    }
    #site-navigation {
      position: static;
      margin: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      min-height: unset;
    }
    #primary-menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 45px 0 35px 1px;
    }
    #primary-menu > li.menu-item {
      margin: 0 0 11px 0;
    }
    #primary-menu .menu-item a {
      font-size: 16px;
      padding: 5px 0;
    }
    #primary-menu .menu-chevron {
        position: absolute;
		top: 5px;
		font-size: 35px;
		right: 10px;
		transform: rotate(90deg);
		height: 35px;
		width: 35px;
    }
    #primary-menu .menu-item-has-children {
      position: relative;
    }
    #primary-menu .menu-item-has-children a:before {
      content: unset;
    }
    #primary-menu .menu-item-has-children .sub-menu {
      display: none;
      visibility: visible;
      opacity: 1;
      -webkit-transition: unset;
      -o-transition: unset;
      transition: unset;
      position: static;
      border: unset;
      -webkit-box-shadow: unset;
              box-shadow: unset;
      background-color: #f4f4f4;
      margin-left: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .site-branding img {
      max-width: 121px;
    }
    .navbar-header {
      top: 14px;
    }
  }
  
  /* Header end */
