:root {
    --primary-color: #FFF;
    --secondary-color: #000;
}
.custom-logo {
    max-width: 300px;
    margin: 25px 0px 0;
    padding: 0 15px;
}
.--d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav-menu li:not(:last-child) {
    margin-right: 20px;
}
.site-header,
nav#site-navigation {
    background-color: var(--secondary-color);
}
nav#site-navigation {
    -webkit-box-shadow: 
     inset 0 1px 0 hsla(0,0%,100%,.4),
     inset 0 4px 0 #000,
     inset 0 5px 0 hsla(0,0%,100%,.4);
    box-shadow: 
     inset 0 1px 0 hsla(0,0%,100%,.4),
     inset 0 4px 0 #000,
     inset 0 5px 0 hsla(0,0%,100%,.4);
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 0;
}
.navbar-default {
    border-color: var(--secondary-color)!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu li {
    position: relative;
} 
#primary-menu li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    background-image: linear-gradient(
    to right,
    #2c38bf,
    #8627a3 50%,
    #FFF 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
#primary-menu li a:before {
  content: '';
  background-image: linear-gradient(
    to right,
    #2c38bf,
    #8627a3
  );
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
#primary-menu li a:hover {
    background-position: 0;
}
#primary-menu li a:hover::before {
    width: 100%;
}
/* SUB MENU */
.sub-menu {
    display: none; /* Hide the submenu by default */
    list-style-type: none;
    position: absolute; /* Position the submenu relative to the parent li */
    top: 100%; /* Place it directly below the parent link */
    min-width: 160px;
    z-index: 37; /* Ensure submenu appears above other content */
}
.sub-menu li {
    margin: 8px 0;
}
.menu-item-has-children:hover .sub-menu {
    display: block !important; /* Show the submenu on hover */
}
.menu-item-has-children .current-lang {
    display: none;
}
img[alt="English"] {
    width: 30px !important;
    height: 30px !important;
    content: url('http://localhost/DiverseDialogues/wp-content/uploads/2026/02/united-kingdom.png');
    /* change link on live site */
}
img[alt="Српски језик"] {
    width: 30px !important;
    height: 30px !important;
    content: url('http://localhost/DiverseDialogues/wp-content/uploads/2026/02/world.png');
    /* change link on live site */
}
.nav-menu img {
    outline: 1px solid #FFF;
    outline-offset: 7.5px;
    border-radius: 50%;
}
/* Search Bar */
.search-container {
  overflow: hidden;
}
.search-box {
    background-color: #FFF;
    height: 45px;
    border-radius: 40px;
    display: flex;
}
.search-btn {
    color: #FFF;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-color: #FFF;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
    font-size: 20px;
  padding: 0;
}
input.search-txt {
    border: none;
    background: #FFF;
    outline: none;
    float: left;
    padding: 0;
    color: #000;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 15px;
}
.search-box >.search-btn i {
    transition: all 0.4s;
}
.search-box:hover>.search-btn i {
    transition: all 0.4s;
    transform: rotate(180deg);
}
/* FOOTER STYLES */
#colophon {
    padding: 40px 15px;
    background-color: var(--secondary-color);
    color: #FFF;
}
.footer-logo {
  text-align: center;
  margin: 0 0 30px;
}
.footer-logo .custom-logo {
    margin: 0;
}
.footer-content-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 50px 0;
}
.footer-content-link {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
    background-image: linear-gradient(
    to right,
    #2c38bf,
    #8627a3 50%,
    #FFF 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.footer-content-link:before {
    content: '';
    background-image: linear-gradient(to right,
            #2c38bf,
            #8627a3);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.footer-content-link:hover {
    background-position: 0;
}
.footer-content-link:hover::before {
    width: 100%;
}
.footer-content-year {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-inner-holder {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
/* RESPONSIVE */
/* MAX WIDTH */
@media all and (max-width:991px) {
    #site-navigation {
        gap: 35px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #d-collapse-menu {
        position: fixed;
        right: 0;
        width: 50%;
        background: #000000d1;
        z-index: 999;
        border: 1px solid #FFF;
        padding: 70px 15px;
    }

    .navbar-toggle.d-x-collapse {
        right: 50%;
        z-index: 99;
        background: #000000d1;
        border-radius: 0;
    }

    .navbar-toggle.d-x-collapse[aria-expanded="true"] {
        position: fixed;
        top: 72px;
    }

    .d-navigation.navbar-default.navbar.toggled .navbar-toggle .icon-bar {
        transition: all 0.3s ease;
    }

    .navbar-toggle.d-x-collapse[aria-expanded="true"] .icon-bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 9px;
    }

    .navbar-toggle.d-x-collapse[aria-expanded="true"] .icon-bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.d-x-collapse[aria-expanded="true"] .icon-bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -9px;
    }

    .navbar-toggle.d-x-collapse.collapsed {
        border: 1px solid #FFF;
        height: 45px;
        width: 45px;
        margin: 0;
        transition: background-color 0.3s ease;
    }

    .navbar-default .navbar-toggle {
        border: 1px solid #FFF;
        height: 50px;
        width: 50px;
        margin: 0;
    }

    .navbar-toggle.d-x-collapse.collapsed .icon-bar:nth-child(2) {
        width: 60%;
    }

    .navbar-default .navbar-toggle:hover {
        background-color: #ffffffb7 !important;
    }

    .navbar-default .navbar-toggle.collapsed .icon-bar {
        background-color: #FFF;
        width: 100%;
        height: 5px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF !important;
        width: 100%;
        height: 5px;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: #000000d1 !important;
    }
}
/* MIN WIDTH */
@media all and (min-width:992px) {
    .footer-content-list {
        gap: 50px;
    }
}
@media all and (min-width:768px) {
    #colophon {
        padding: 60px 15px;
    }
    .custom-logo {
        max-width: 500px;
    }
}