:root {
	--PRIMARY-COLOR:#FFF;
	--SECONDARY-COLOR:#000;
	--FONT-FAMILY:'Montserrat';
}
*, *::before, *::after {
	box-sizing: border-box;
}  
section,
footer {
	float: left;
	width: 100%;
}
html,
body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 100%;
	line-height: 1.4;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body span{
	padding: 0px;
	margin: 0px;
	font-family: var(--FONT-FAMILY), sans-serif;
}
body ul,
body ol,
body li,
body p{
	margin: 0px;
	padding: 0px;
	font-family: var(--FONT-FAMILY)!important; 
}
body a {
	font-family: var(--FONT-FAMILY);
}
.container {
	/* ? */
	padding-left: 0!important;
	padding-right: 0!important;
}
/* GLOBAL CSS CLASS STYLES */
.dd-section {
	padding-block: 60px;
}
.h2-global {
	color: #000;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
	text-transform: capitalize;
}
/* HERO SECTION */
section.home-section.hero-section {
    background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}
.dd-hero-article {
	color: #000;
    background-color: #FFF;
    padding: 30px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
}
.hero-post-image {
	box-shadow: -1px 0px 10px 2px rgb(255 255 255 / 55%);
}
.main-link-style {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    background-image: linear-gradient( to right, #2c38bf, #8627a3 50%, var(--font-color,#FFF) 50% );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.main-link-style:hover{
	background-position: 0;
}
.main-link-style:hover::before {
	width: 100%;
}
.main-link-style:before {
    content: '';
    background-image: linear-gradient( to right, #2c38bf, #8627a3 );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
/* BLOG SECTION */
.blog-section.blog-home {
	background: #f2f2f2;
}
.blog-post-image {
    width: 360px;
    height: 270px;
    object-fit: cover;
	filter: hue-rotate(22deg) brightness(90%);
	transition: all .4s ease;
}
.blog-post-image:hover {
	filter: hue-rotate(0deg) brightness(100%);
}
.dd-blog-container {
	margin: 15px 0;
}
/* RSS BANNER SECTION */
.sbanner-grid {
	padding: 0 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 16px;
}
.sbanner-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
}
a.sbanner-a {
  color: #000;
  font-size: 1.5rem;
  /* text-decoration: none; */
  font-weight: 700;
  transition: all 0.3s ease;
}
a.sbanner-a:hover {
  color: #8627a3;
}
/* RESPONSIVE */
@media all and (min-width:992px) {
	.dd-hero-article {
		position: absolute;
		width: 100%;
		left: -70px;
		margin-top: 120px;
	}
	.blog-container-2 article {
		border: 1px solid #000;
		padding: 10px;
		box-shadow: 3px 3px #000;
		transition: all .3s ease;
	}
	.blog-container-2:hover article {
		box-shadow: 6px 6px #000;
		translate: -2px -2px;
	}
}