:root {
	--PRIMARY-COLOR:#FFF;
	--SECONDARY-COLOR:#000;
	--FONT-FAMILY:'Montserrat';
}
*, *::before, *::after {
	box-sizing: border-box;
}  
section,
footer {
	float: left;
	width: 100%;
}
html,
body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 100%;
	line-height: 1.4;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body span{
	padding: 0px;
	margin: 0px;
	font-family: var(--FONT-FAMILY), sans-serif;
}
body ul,
body ol,
body li,
body p{
	margin: 0px;
	padding: 0px;
	font-family: var(--FONT-FAMILY)!important; 
}
body a {
	font-family: var(--FONT-FAMILY);
}
.container {
	/* ? */
	padding-left: 0!important;
	padding-right: 0!important;
}
/* GLOBAL CSS CLASS STYLES */
.dd-section {
	padding-block: 40px;
}
.typewriter {
  display:flex;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
}
.h2-global {
	color: #000;
	font-size: 2.5rem;
  line-height: 1.1;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
	text-transform: capitalize;

  overflow:hidden;
  margin-inline: auto;
  white-space:nowrap;
  border-right:1px solid #000;
  animation:typing 3s steps(22) forwards, blink .75s step-end infinite;
  animation-timeline: view();
}
@keyframes typing {
  from { width:0; }
  to { width:100%; }
}
@keyframes blink {
  50% { border-color:transparent; }
}
/* HERO SECTION */
section.home-section.hero-section {
    background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}
.dd-hero-article {
	color: #000;
    background-color: #FFF;
    padding: 30px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.55);
}
.hero-post-image {
	box-shadow: -1px 0px 10px 2px rgb(255 255 255 / 55%);
}
.main-link-style {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    background-image: linear-gradient( to right, #2c38bf, #8627a3 50%, var(--font-color,#FFF) 50% );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
.main-link-style:hover{
	background-position: 0;
}
.main-link-style:hover::before {
	width: 100%;
}
.main-link-style:before {
    content: '';
    background-image: linear-gradient( to right, #2c38bf, #8627a3 );
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.entry-content-main-p {
  margin: 15px 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
.entry-footer-main {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}
.posted-on {
  font-weight: 600;
  font-size: 16px;
}
.byline {
  font-style: italic;
  font-size: 16px;
}
/* BLOG SECTION */
.blog-section.blog-home {
	background: #f2f2f2;
}
.blog-post-image {
    width: 360px;
    height: 270px;
    object-fit: cover;
	filter: hue-rotate(22deg) brightness(90%);
	transition: all .4s ease;
}
.blog-post-image:hover {
	filter: hue-rotate(0deg) brightness(100%);
}
.dd-blog-container {
	margin: 15px 0;
}
/* RSS BANNER SECTION */
.rss-img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.sbanner-grid {
	padding: 0 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 16px;
}
.sbanner-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
}
a.sbanner-a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
a.sbanner-a:hover {
  color: #8627a3;
}
/* NEWSLETTER SECTION  */
.newsletter-section {
  background: #f2f2f2f2;
}
.newsletter-container {
	padding: 0 15px;
}
.newsletter-btn-holder {
	position:relative;
	display: flex;
}
.newsletter-btn {
  background: linear-gradient(
    to bottom right,
    rgba(44, 56, 191, 1) 0%,
    rgba(134, 39, 163, 1) 100%
  );
  width: 100%;
  height: 100%;
  line-height: 1;
  padding: 0;
  border: none;
  border-radius: 0px;
}
.newsletter-btn span {
  position: relative;
  width: 100%;
  height: 60px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s all;
}
.newsletter-btn:before,
.newsletter-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(44, 56, 191, 1);
  transition: all 0.3s ease;
}
.newsletter-btn:before {
  height: 0%;
  width: 2px;
}
.newsletter-btn:after {
  width: 0%;
  height: 2px;
}
.newsletter-btn:hover {
  background: transparent;
  box-shadow: none;
}
.newsletter-btn:hover:before {
  height: 100%;
}
.newsletter-btn:hover:after {
  width: 100%;
}
.newsletter-btn span:hover {
  color: rgba(44, 56, 191, 1);
}
.newsletter-btn span:before,
.newsletter-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(44, 56, 191, 1);
  transition: all 0.3s ease;
}
.newsletter-btn span:before {
  width: 2px;
  height: 0%;
}
.newsletter-btn span:after {
  width: 0%;
  height: 2px;
}
.newsletter-btn span:hover:before {
  height: 100%;
}
.newsletter-btn span:hover:after {
  width: 100%;
}
input.newsletter-input {
  border: 2px solid rgb(134,39,163);
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  height: 60px;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 1fr;
  gap:15px;
}
/* RESPONSIVE */
@media all and (min-width:992px) {
	.dd-hero-article {
		position: absolute;
		width: 100%;
		left: -70px;
		margin-top: 90px;
	}
	.blog-container-2 article {
		border: 1px solid #000;
		padding: 10px;
		box-shadow: 3px 3px #000;
		transition: all .3s ease;
	}
	.blog-container-2:hover article {
		box-shadow: 6px 6px #000;
		translate: -2px -2px;
	}
}
@media all and (min-width: 768px) {
	.dd-section {
		padding-block: 60px;
	}
	.newsletter-form {
		display:grid;
		grid-template-columns: 1fr 300px;
		gap: 10px;
	}
}